body {
  margin: 0;
}

/* header begin */

.containernav {
  position: relative;
}

.menu {
  position: fixed;
  width: 100%;
  z-index: 1;
  -webkit-transition: all ease-out 0.2s;
  -moz-transition: all ease-out 0.2s;
  -o-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
  background-color: rgba(255, 255, 255, 0.4);
}

.active {
  background-color: rgb(255, 255, 255);
}

.hero {
  width: 100%;
  height: 80vh;
  background-image: url(../assets/headershoot.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  z-index: 0;
}

.line {
  height: 109%;
  position: absolute;
  right: 20%;
}

.logo {
  width: 45px;
  height: 45px;
}

.nav-list {
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5%;
  margin-left: 5%;
}

a {
  font-family: montserrat, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  text-decoration: none;
  color: black;
}
.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-item a:hover {
  color: #0092d7;
}

.nav-item:first-child {
  margin-right: auto;
}

.nav-item:last-child {
  margin-right: 0;
}

.textbox {
  width: 30%;
  text-align: left;
  display: inline-block;
  margin-left: 5%;
  margin-top: 10%;
}

/* header eind */

/* text */
h1 {
  color: white;
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;

  position: relative;
}

h2 {
  color: black;
  font-family: verveine, sans-serif;
  font-style: normal;
  font-size: 3rem;
  line-height: 2.6rem;
  text-align: center;
}

.left {
  text-align: left;
}

h3 {
  font-family: montserrat, sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  color: black;
  width: 85%;
}

h4 {
  font-family: montserrat, sans-serif;
  font-weight: 600;
  font-size: 1.17rem;
  color: black;
  width: 85%;
}
.ph4 {
  padding-left: 20px;
  margin-bottom: 0;
}

h5 {
  font-family: montserrat, sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

p {
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem;
  width: 90%;
}

.maillink {
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem;
  color: #0092d7;
}

.prijs {
  font-size: 1.3rem;
}

.pcard {
  padding-left: 20px;
}
.bold {
  font-weight: 600;
}

.intro {
  color: white;
  padding: 0;
}

.verveine {
  font-family: verveine, sans-serif;
  font-size: 2rem;
}

li {
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 2rem;
  list-style-type: circle;
}

ul {
  padding-left: 3%;
}

/* text eind */

main {
  margin: 0 auto;
  max-width: 1200px;
}

#wie {
  margin-top: 8%;
}

#handtekening {
  width: 20%;
  margin-top: 5%;
}

#design {
  margin-top: 8%;
  padding-top: 85px;
}
#design img {
  width: 80%;
  padding-left: 10%;
}

#design .container {
  align-items: center;
  justify-content: center;
}

#hoe {
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 8%;
  padding-top: 85px;
}

#stap2 {
  margin-top: 5%;
  margin-bottom: 7%;
}

#wat {
  margin-top: 8%;
  padding-top: 85px;
}

#contact {
  margin-top: 8%;
  margin-bottom: 10%;
  padding-top: 85px;
}

#contact .container {
  margin: 0 auto;
}

.imgc {
  width: 15%;
  margin-top: 2%;
}

.text {
  padding-left: 50px;
  width: 35%;
}

#leuk {
  margin-top: 8%;
}

.containerc {
  display: flex;
  justify-content: center;
  align-items: center;
}

#leuk .container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: minmax(50px, 1fr);
  grid-auto-flow: dense;
  margin: 0;
  width: 50%;
  padding-bottom: 10%;
}

.container {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(250px, 1fr);
  grid-auto-flow: dense;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

#hoe .card {
  margin-bottom: 10%;
}

.shadow {
  -webkit-box-shadow: 5px 10px 13px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 10px 13px 3px rgba(0, 0, 0, 0.2);
}

.button {
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  text-decoration: none;
  width: fit-content;
  padding: 20px;
  display: block;
  color: white;
  background-color: #0092d7;
  margin: 5% 0 3% 0;
}

.button:hover {
  background-color: white;
  color: #0092d7;
  border: solid 3px #0092d7;
}

.pbutton {
  margin: 0 0 20px 20px;
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  text-decoration: none;
  width: fit-content;
  padding: 15px;
  display: block;
  color: black;
  border: 3px solid #0092d7;
}

/*carousel*/

/* Position the image container (needed to position the left and right arrows) */
.containerproduct {
  position: relative;
  display: grid;
  gap: 1rem 3rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-flow: dense;
  margin: 0 auto;
  padding-top: 8%;
}

.cardproduct {
  padding-top: 5%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 18%;
  margin-right: 2%;
}

.column:first-child {
  margin-left: 1%;
}

.column:last-child {
  margin-right: 0;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
/* collapsible */
.collapsible {
  font-family: montserrat, sans-serif;
  font-weight: 600;
  font-size: 1rem;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  background-color: #f1f1f1;
  position: relative; /* Add relative positioning */
  margin-top: 5%;
}

.collapsible::after {
  content: "+";
  font-size: 1.2rem;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.activec::after {
  content: "-";
}

.activec,
.collapsible:hover {
  background-color: #ccc;
}

.collapsible-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.onderhoud {
  width: 40%;
  padding: 5% 0%;
}

.duurzaamheid {
  width: 70%;
  padding: 5% 0%;
}
